@use 'variables' as *;

html {
  background-color: $blue-950;
  color: $white;
  font-family: 'Outfit', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
