// COLORS
// Colors
$white: #ffffff;
$black: #000000;

$blue-950: #10141e;
$blue-900: #161d2f;
$blue-500: #5a698f;

$red-500: #fc4747;

// Gradient
$gradient-overlay: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.75) 100%
);

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// SPACING
$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-700: 56px;
$spacing-900: 72px;
$spacing-1000: 80px;
