@use '../typography' as *;

.movie-card {
  display: grid;
  gap: 8px;

  &.trending {
    min-width: 240px;
    min-height: 140px;
    position: relative;

    .info-container {
      position: absolute;
      bottom: 16px;
      left: 16px;
      @include text(tp-5);

      .metadata {
        img {
          height: 12px;
        }
      }
    }
  }

  > .thumbnail-wrapper {
    position: relative;

    > img {
      border-radius: 8px;
    }

    .bookmark {
      isolation: isolate;
      display: flex;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 8px;
      right: 8px;

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background: #10141e;
        opacity: 0.5;
        height: 100%;
        width: 100%;
      }
    }
  }

  .info-container {
    display: grid;
    gap: 8px;

    .metadata {
      display: flex;
      align-items: center;
      gap: 8px;
      @include text(tp-6);
      opacity: 0.75;

      img {
        height: 10px;
      }

      > *:not(:last-child) {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;

        &::after {
          content: '';
          display: flex;

          width: 3px;
          height: 3px;

          border-radius: 50%;
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
