@use '../variables' as *;

nav {
  background-color: $blue-900;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 20px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 24px;

    img {
      height: 16px;

      &:hover {
        filter: brightness(0) invert(1);
      }
    }
  }

  img.user-avatar {
    aspect-ratio: 1/1;
    height: 24px;
    border-radius: 50%;
    border: solid 1px $white;
  }
}
